<body>
    <div class="jumbotron text-center">
        <h1>A családnál semmi sem fontosabb</h1>
        <p>
            <mark>Üdvözlünk weboldalunkon, ahol megtekintheted, illetve hozzáadhatod saját családtagjaidat az oldalhoz
            </mark>
        </p>
    </div>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/family.png" class="d-block mx-auto" style="width: 900px; height: auto;"
                    alt="csaladi-kep-1">
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="mt-4 text-center">
        <h2><mark>Családtagjaidra mindig számíthatsz</mark></h2>
        <p>Nem vagy egyedül, ezt sose feledd. Mindig lesz valaki melletted.
        </p>
        <br><br>
        <h2>"A kötelék, mely igaz családod összefűzi, nem a vér, hanem az egymás élete iránti tisztelet s a benne lelt
            öröm"
        </h2>
    </div>

    <div class="footer">
        <p>&copy; 2024 Hajdara Patrik | Minden jog fenntartva</p>
    </div>
</body>